.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
  background-color: #0F3B75;
}

.skin-blue .main-header .logo {
  background-color: #316BB8;
  color: #fff;
  border-bottom: 0 solid transparent;
}

.skin-blue .main-header li.user-header {
  background-color: #0F3B75;
}

.skin-blue .main-header .navbar {
  background-color: #0F3B75;
}

.skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li.menu-open>a {
  color: #fff;
  background: #316BB8;
}

.skin-blue .sidebar-form input[type="text"], .skin-blue .sidebar-form .btn {
  box-shadow: none;
  background-color: #fff;
  border: 1px solid transparent;
  height: 35px;
}

.user-panel>.image>img {
  width: 100%;
  max-width: 80px;
  height: auto;
}

.user-panel>.info>p {
  font-weight: 600;
  margin-bottom: 9px;
  margin-top: 25px;
  margin-left: 25px;
}

.pull-left {
  float: left!important;
  margin-left: 10px;
  margin-top: 20px;
}

table{
  margin-top: 20px;
  margin-left: 40px;
}

hr.style-one{
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
.user-rectangle, .user-rectangle2{
  background-color: #ffffff;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5px;
}
.user-rectangle{
  border: 2px solid #9258BE;
}
.user-rectangle .user-rectangle-text,.user-rectangle2 .user-rectangle-text{
  display: block;
  font-size: 18px;
  color: #000000;
  font-weight: bold;
}
.user-rectangle .user-rectangle-subtext,.user-rectangle2 .user-rectangle-subtext{
  font-size: 14px;
  color: #000000;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
  .user-rectangle .user-rectangle-text,.user-rectangle .user-rectangle-subtext,
  .user-rectangle2 .user-rectangle-text,.user-rectangle2 .user-rectangle-subtext{
    padding-left: 30px;
  }
  .user-rectangle, .user-rectangle2{
    margin-top: 20px;
  }
}
.user-table{
  margin-top: 50px;
}
.user-table .user-table-content{
  margin: 10px;
}
.user-table .user-table-content .user-name{
  border-radius: 5px;
  background-color: #ffffff;
  padding: 10px;
}
.user-table .user-table-content .user-name .user-name-text{
  padding-left: 20px;
  font-size: 18px;
  color: #0F3B75;
  font-weight: bold;
}
.user-table .user-table-content .user-view-button,.user-table .user-delete-button{
  padding: 10px;
}
.user-modal-body{
  margin: 0px 50px 50px 50px;
}
.user-modal-body > div > p {
  color:dimgrey;
  opacity:0.3;
}
.user-modal-body .user-modal-input{
  border:none;
  border-bottom:1px solid #000000;
}
